<% if (!user) { %>
<h1>The Future is DeFi!</h1>
<p><a href="https://www.youtube.com/watch?v=pVlkFW43820" target="_blank">About us</a></p>
<p>Please <a href="/login">log in</a> with account.</p>
<p>Or login with <a href="/auth/github">github</a>.</p>
<% } else { %>
<p><b>Menu:</b> <a href="/withdraw">withdraw</a> | <a href="/logout">logout</a></p>
<p>Welcome, <%= user.username %>!</p>
<p>Your balance is <%= balance %> CHF.</p>
<% } %>